---
import Link from '../components/Link.astro'
const {title} = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="Personal website for Ryan Washburne.">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title} &#183; Ryan Washburne</title>
	</head>
	<body>
    <nav class="md:float-right text-right mt-8 mr-8">
      <ul>
        <li>Ryan Washburne</li>
        <li><Link href="/about">About</Link></li>
				<li><Link href="/inspiration">Inspiration</Link></li>
      </ul>
    </nav>
		<main class="max-w-7xl mx-auto py-16 px-4 flex flex-col gap-4">
      <slot />
    </main>
	</body>
</html>