/*! purgecss start ignore */
@tailwind base;

html {
  @apply font-sans;
}
a {
  @apply underline;
  @apply text-gray-600;
  @apply border;
  @apply border-dashed;
  @apply border-transparent;
  @apply rounded;
  @apply outline-none;
}
a:hover {
  @apply text-gray-700;
}
a:focus {
  @apply border-gray-500;
}
a:active {
  @apply border-transparent;
}

@tailwind components;
/*! purgecss end ignore */
@tailwind utilities;
