/*! purgecss start ignore */
@tailwind base;

html {
  @apply font-sans;
  scroll-behavior: smooth;
}
a {
  @apply underline;
  @apply text-gray-600;
}
a:hover {
  @apply text-gray-700;
}

@tailwind components;

.animated {
  /* background-size: 200%; */
  /* animation: gradient 8s ease infinite; */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*! purgecss end ignore */
@tailwind utilities;
